<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="POST" action="/predict">
            <textarea rows="12" cols="60" name="content" placeholder="Enter your email here"
            autocomplete="off">{{ email }}</textarea>
            <div>
                <button type="submit">Submit</button>
                <a href="/">Reset</a>
            </div>
        </form>

        {% if prediction==1 %}
            <h2 style="color:red":>SPAM</h2>
        {% elif prediction==-1 %}
            <h2 style="color:rgb(0, 255, 76)":>NOT A SPAM</h2>
        {% endif %}    
    </div>
</body>